* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar {
    height: 72px;
    width: 100%;
    background-color: #0f3cc9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .one img {
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}
.navbar .one {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .one a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar .one a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.712);
}
.navbar .two{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.navbar .two i {
    height: 35px;
    width: 35px;
    font-size: 17px;
    border: 1px solid #e5f1f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5f1f7;
    cursor: pointer;
}
.navbar .two i:nth-child(2) {
    color: #0f3cc9;
}

/* ----------------------------- MAIN ------------------------- */

.main {
    margin-top: 20px;
}

.main .one {
    height: 550px;
    width: 100%;
}
.main .one .gallery-container {
    height: 520px;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: 20px;
    margin: 0 10px 0 0;
    flex: none;
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
}
.main .one .gallery-container::-webkit-scrollbar {
    display: none;
}

.main .one .gallery-container .img-1 {
    height: 520px;
    width: 1185px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/new-home/airfiber_l-17-06.webp");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.main .one .gallery-container .img-2 {
    height: 520px;
    width: 1185px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/new-home/jiophone_prima_l.webp");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.main .one .gallery-container .img-3 {
    height: 520px;
    width: 1185px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/new-home/recharge_l.webp");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.main .one .gallery-container .img-1 button {
    width: 140px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #0078ad;
    color: white;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}
.main .one .gallery-container .img-1 p {
    width: 500px;
    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 15px;
    line-height: 40px;
    color: #fff;
}
.main .one .gallery-container .img-1 pre {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fff;
}
.main .one .gallery-container .img-1 div {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .one .gallery-container .img-1 div button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #0078ad;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .1s;
}
.main .one .gallery-container .img-1 div button:nth-child(2) {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.164);
}
.main .one .gallery-container .img-1 div button:nth-child(2):hover {
    border: 2px solid rgba(255, 255, 255, 0.589);
}
.main .one .gallery-container .img-1 div button:nth-child(1):hover {
    background-color: #005a81;
}
.main .one .gallery-container .img-2 h1 {
    font-size: 20px;
    font-weight: 600;
}
.main .one .gallery-container .img-2 p {
    width: 500px;
    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 15px;
    line-height: 40px;
    color: rgb(0, 0, 0);
}
.main .one .gallery-container .img-2 pre {
    font-size: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.main .one .gallery-container .img-2 div {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .one .gallery-container .img-2 div button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #001aff;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .1s;
}
.main .one .gallery-container .img-2 div button:nth-child(2) {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.164);
    color: #333;
}
.main .one .gallery-container .img-2 div button:nth-child(2):hover {
    border: 2px solid rgba(0, 0, 0, 0.589);
}
.main .one .gallery-container .img-2 div button:nth-child(1):hover {
    background-color: #0010a5;
}
.main .one .gallery-container .img-3 p {
    width: 500px;
    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 15px;
    line-height: 40px;
    color: rgb(0, 0, 0);
}
.main .one .gallery-container .img-3 pre {
    font-size: 15px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
.main .one .gallery-container .img-3 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #001aff;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .1s;
}
.main .one .gallery-container .img-3 button:hover {
    background-color: #0010a5;
}
.main .one .buttons {
    height: 50px;
    width: 150px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 45%;
}
.main .one .buttons i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f3cc9;
    cursor: pointer;
}
.main .one .buttons i:hover {
    background-color: #0f3ec934;
}
.main .one .buttons i:active {
    background-color: #0f3ec9e3;
}

/* -------------------------- TWO -------------------------------- */

.two {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.two h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 43px;
    margin-top: 60px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}
.two .first-line-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 16px;
    cursor: pointer;
}
.two .first-line-content div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    padding:  0 10px 10px;
    border-bottom: 4px solid #0f3cc9;
    border-radius: 4px;
}
.two .first-line-content div:nth-child(2) {
    border-bottom: 4px solid transparent;
    color: rgba(0, 0, 0, 0.671);
}
.two .first-line-content div p:hover {
    color: black;
    transition: .2s;
}
.two .first-line-content div i {
    font-size: 23px;
    margin-right: 10px;
}
.two .first-line-content div img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.two .second-line-content {
    height: 152px;
    width: 584px;
    background-color: #0f3cc9;
    padding: 24px 40px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.two .second-line-content .postpaid-prepaid {
    height: 48px;
    width: 197.27px;
    display: flex;
    background-color: #002081;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.two .second-line-content .postpaid-prepaid div {
    height: 40px;
    width: 90px;
    color: white;
    background-color: #0f3cc9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}
.two .second-line-content .postpaid-prepaid div:nth-child(2) {
    background-color: transparent;
}
.two .second-line-content .postpaid-prepaid div:nth-child(2):hover {
    background-color: #4667cabd;
}
.two .second-line-content .phone-number {
    display: flex;
}
.two .second-line-content .phone-number div {
    height: 40px;
    width: 348px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    padding: 0 0 0 20px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
}
.two .second-line-content .phone-number div input {
    border: 0;
    outline: 0;
    padding: 0 0 0 10px;
    font-size: 17px;
    background-color: rgb(243, 243, 243);
}
.two .second-line-content .phone-number input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: rgb(173, 173, 173);
}
.two .second-line-content .phone-number button {
    height: 40px;
    width: 140px;
    border-radius: 50px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s;
}
.two .second-line-content .phone-number button:hover {
    background-color: rgba(255, 255, 255, 0.705);
    border: 1px solid rgba(255, 255, 255, 0.705);
}
.two .last-content {
    margin-top: 25px;
}
.two .last-content button{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 50px;
    margin: 0 5px;
    border: 0.5px solid rgb(219, 219, 219);
    font-weight: 600;
    color: #00279b;
    background-color: white;
    cursor: pointer;
    transform: .3s;
}
.two .last-content button:hover {
    border-color: #0f3cc9;
}
/* ----------------------------- THREE --------------------------- */

.three {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.three .div{
    height: 720px;
    width: 584px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/new-home/airfiber_2_m.webp");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin: 0 10px;
    padding: 25px 50px;
}
.three .div:nth-child(2) {
    background-image: url("https://jep-asset.akamaized.net/cms/assets/home/new-homepage/logos/true-5g-14-06.webp");
    background-position: center;
    background-size: cover;
    color: white;
}
.three .div:nth-child(1) button {
    padding: 13px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #0078ad;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.three .div #btn2:hover {
    background-color: #005980;
}
.three .div:nth-child(1) p {
    width: 450px;
    font-size: 37px;
    font-weight: 1000;
    line-height: 43px;
    margin-bottom: 15px;
}
.three .div:nth-child(1) pre {
    width: 100px;
    font-size: 18px;
    margin-bottom: 20px;
}
.three .div:nth-child(2) button {
    padding: 13px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #0066ff;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.three .div #btn4:hover {
    background-color: #3887ff;
}
.three .div:nth-child(2) p {
    width: 460px;
    font-size: 40px;
    font-weight: 1000;
    line-height: 43px;
    margin: 20px 0;
}


/* ----------------------- FOUR -------------------------- */


.four {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.four p {
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 30px;

}
.four .container .img1-container{
    height: 520px;
    width: 1184px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/home/new-homepage/logos/myjio_l-14-06.webp");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.four .container .img1-container img {
    height: 30px;
    margin-bottom: 10px;
}
.four .container .img1-container p {
    font-size: 35px;
    width: 500px;
    font-weight: 1000;
    line-height: 40px;
    margin-bottom: 15px;
}
.four .container .img1-container pre {
    color: rgb(83, 83, 83);
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}
.four .container .img1-container button {
    padding: 13px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #0f3cc9;
    color: white;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.four .container .img2-3container {
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.four .container .img2-3container .img2-container {
    height: 720px;
    width: 584px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/home/new-homepage/jiomart_m-new.webp");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.four .container .img2-3container div {
    padding: 40px;
}
.four .container .img2-3container div img {
    padding: 0 0 8px;
}
.four .container .img2-3container div p {
    font-size: 35px;
    width: 480px;
    font-weight: 1000;
    line-height: 40px;
    margin: 0;
}
.four .container .img2-3container div pre {
    width: 476px;
    margin: 8px 0 0;
    font-weight: 700;
    color: #000000a6;
    line-height: 24px;
}
.four .container .img2-3container div button {
    margin: 24px 0 0;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #0078ad;
    border: 1px solid #0078ad;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .1s;
}
.four .container .img2-3container div button:hover {
    background-color: #004b6b;
    border: 1px solid #004b6b;  
}
.four .container .img2-3container .img3-container button {
    background-color: #1eccb0;
    border: 1px solid #1eccb0;
    color: black;
}
.four .container .img2-3container .img3-container button:hover {
    background-color: #008871;
    border: 1px solid #008871;
}
.four .container .img2-3container .img3-container {
    height: 720px;
    width: 584px;
    background-image: url("https://jep-asset.akamaized.net/cms/assets/home/new-homepage/jiosaavn_m.webp");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}


/* ------------------------ FIVE -------------------------- */


.five {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 80px;
}
.five p{
    font-size: 37px;
    font-weight: 900;
    padding: 0 0 40px;
}
.five video {
    border-radius: 20px;
}
.five button {
    margin: 24px 0 80px;
    padding: 10px 16px;
    background-color: #0f3cc9;
    border: 1px solid #0f3cc9;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
.five button:hover {
    background-color: #00238b;
    border: 1px solid #00238b;
}


/* ------------------------ SIX -------------------------- */

.six {
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.six p {
    font-size: 28px;
    font-weight: 1000;
    padding: 0 0 16px;
}
.six .six-main-content {
    height: 440px;
    width: 70%;
    /* border: 1px solid red; */
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
}
.six .six-main-content::-webkit-scrollbar {
    display: none;
}
.six .six-main-content div {
    height: 400px;
    width: 287px;
    border: .5px solid rgb(192, 192, 192);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: 20px;
    margin: 0 10px 0 0;
    padding: 25px 5px 25px 25px;
    flex: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .3s;
}
.six .six-main-content div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.six .six-main-content div img {
    height: 40px;
    width: 40px;
    margin-bottom: 23px;
}
.six .six-main-content div h1 {
    font-size: 23px;
    font-weight: 1000;
    line-height: 26px;
    margin-bottom: 23px;
}
.six .six-main-content div p {
    width: 90%;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    color: rgb(104, 104, 104);
    margin-bottom: 30px;
}
.six .six-main-content div h3 {
    font-size: 16px;
    color: #092fa0;
}
.six .six-main-content div h3 span {
    margin-left: 5px;
}
.six .six-main-content div h3:hover {
    color: rgb(7, 39, 134);
}
.six .buttons {
    width: 70%;
    display: flex;
    justify-content: end;
}
.six .buttons button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: .2px solid rgb(179, 179, 179);
    cursor: pointer;
    margin-left: 7px;
    color: #0040ff;
}
.six .buttons button i {
    font-size: 10px;
}
.six .buttons button:active {
    background-color: #9ec5ff;
    border-color: #0066ff;
}

/* ------------------------ SEVEN ------------------------- */


.seven {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.seven p {
    font-size: 33px;
    font-weight: 1000;
    margin-bottom: 15px;
}
.seven pre {
    font-size: 18px;
    color: rgb(102, 102, 102);
}

.seven .seven-main-content {
    height: 360px;
    width: 70%;
    /* border: 1px solid red; */
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* overflow-x: scroll; */
}
.seven .seven-main-content::-webkit-scrollbar {
    display: none;
}
.seven .seven-main-content div {
    height: 320px;
    width: 284px;
    /* border: .5px solid rgb(192, 192, 192); */
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-area: 20px;
    margin: 0 10px 0 0;
    flex: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .3s;
}
.seven .seven-main-content div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.seven .seven-main-content div img {
    border-radius: 15px;
}
.seven .seven-main-content div pre {
    font-size: 14px;
    margin: 20px 0 10px 5px;
}
.seven .seven-main-content div p {
    font-size: 16px;
    margin-left: 5px;
}
.seven .buttons {
    width: 70%;
    display: flex;
    justify-content: end;
}
.seven .buttons button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: .2px solid rgb(179, 179, 179);
    cursor: pointer;
    margin-left: 7px;
    margin-bottom: 40px;
    color: #0040ff;
}
.seven .buttons button i {
    font-size: 10px;
}
.seven .buttons button:active {
    background-color: #9ec5ff;
    border-color: #0066ff;
}


/* ------------------------ FOOTER ------------------------- */

.footer {
    height: 625px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .container-1 {
    height: 555px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .container-1 .container-2 .content-1 {
    width: 780px;
    display: flex;
    justify-content: space-between;
}
.footer .container-1 .container-2 .content-1 div {
    display: flex;
    flex-direction: column;
}
.footer .container-1 .container-2 .content-1 div pre {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer .container-1 .container-2 .content-1 div a {
    height: 36px;
    width: 182px;
    /* border: 1px solid red; */
    text-decoration: none;
    font-size: 15px;
    color: #000000a6;
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.footer .container-1 .container-2 .content-1 div a:hover {
    background-color: rgb(230, 230, 230);
}
.footer .container-1 .content-2 {
    height: 580px;
    width: 390px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.footer .container-1 .content-2 h1 {
    font-size:25px;
    font-weight: 1000;
    margin:0 0 20px 0;
}
.footer .container-1 .content-2 h1:nth-child(3) {
    margin: 20px 0;
}
.footer .container-1 .content-2 .social-media {
    width: 230px;
    display: flex;
    justify-content: space-between;
}
.footer .container-1 .content-2 .social-media i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #0036d6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
.footer .container-1 .content-2 .social-media i:hover {
    background-color: #002697;
}
.footer .container-1 .content-2 .images img {
    cursor: pointer;
}

hr {
    width: 96%;
}
.footer .last {
    height: 100px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.footer .last div {
    display: flex;
    align-items: center;
}
.footer .last div img {
    height: 35px;
    margin-right: 15px;
}
.footer .last div p {
    font-size: 13px;
    color: #000000a6;
}
.footer .last div a {
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
    color: #00279b;
    border-right: 1px solid rgb(187, 187, 187);
    transition: .1s;
}
.footer .last div a:hover {
    text-decoration: underline;
}
.footer .last div a:nth-child(4) {
    border: none;
}